
@{
    ViewBag.Title = "Permiso";
    Layout = "~/Views/Shared/_LayoutCampanaSinMenu.cshtml";
}

<h2></h2>

<div class="alert alert-danger text-center" role="alert">
    <i class="fa fa-user-slash"></i>
    No tiene los permisos suficientes para acceder a cronograma, contacte a su administrador de sistema.
</div>